In [1]:
# import pandas
import pandas as pd

In [2]:
# read dataset

df = pd.read_csv(r"C:\Users\Roshan B\Desktop\ML\Dataset\DS_data_set_analysis.csv")

In [3]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [4]:
# check null values

df.isnull().sum()

iso_code                                     0
continent                                 4480
location                                     0
date                                         0
total_cases                               3107
new_cases                                 3110
new_cases_smoothed                        4120
total_deaths                             13086
new_deaths                               12930
new_deaths_smoothed                       4120
total_cases_per_million                   3597
new_cases_per_million                     3600
new_cases_smoothed_per_million            4605
total_deaths_per_million                 13563
new_deaths_per_million                   13407
new_deaths_smoothed_per_million           4605
reproduction_rate                        18556
icu_patients                             85346
icu_patients_per_million                 85346
hosp_patients                            83050
hosp_patients_per_million                83050
weekly_icu_admissions                    94006
weekly_icu_admissions_per_million        94006
weekly_hosp_admissions                   93370
weekly_hosp_admissions_per_million       93370
new_tests                                51935
total_tests                              52242
total_tests_per_thousand                 52242
new_tests_per_thousand                   51935
new_tests_smoothed                       45067
new_tests_smoothed_per_thousand          45067
positive_rate                            47895
tests_per_case                           48494
tests_units                              43432
total_vaccinations                       80749
people_vaccinated                        81554
people_fully_vaccinated                  84323
new_vaccinations                         83069
new_vaccinations_smoothed                70533
total_vaccinations_per_hundred           80749
people_vaccinated_per_hundred            81554
people_fully_vaccinated_per_hundred      84323
new_vaccinations_smoothed_per_million    70533
stringency_index                         14905
population                                 624
population_density                        6667
median_age                                9859
aged_65_older                            10817
aged_70_older                            10330
gdp_per_capita                            9573
extreme_poverty                          37218
cardiovasc_death_rate                     9467
diabetes_prevalence                       7402
female_smokers                           28026
male_smokers                             29005
handwashing_facilities                   51964
hospital_beds_per_thousand               17022
life_expectancy                           4785
human_development_index                   9303
excess_mortality                         91523
dtype: int64

In [5]:
# check rows and columns

df.shape

(94867, 60)

In [6]:
# calculate percentage of null values

df.isnull().sum().apply(lambda x:(x*100)/df.shape[0])

iso_code                                  0.000000
continent                                 4.722401
location                                  0.000000
date                                      0.000000
total_cases                               3.275111
new_cases                                 3.278274
new_cases_smoothed                        4.342922
total_deaths                             13.794049
new_deaths                               13.629608
new_deaths_smoothed                       4.342922
total_cases_per_million                   3.791624
new_cases_per_million                     3.794786
new_cases_smoothed_per_million            4.854164
total_deaths_per_million                 14.296858
new_deaths_per_million                   14.132417
new_deaths_smoothed_per_million           4.854164
reproduction_rate                        19.560016
icu_patients                             89.963844
icu_patients_per_million                 89.963844
hosp_patients                            87.543614
hosp_patients_per_million                87.543614
weekly_icu_admissions                    99.092414
weekly_icu_admissions_per_million        99.092414
weekly_hosp_admissions                   98.422001
weekly_hosp_admissions_per_million       98.422001
new_tests                                54.745064
total_tests                              55.068675
total_tests_per_thousand                 55.068675
new_tests_per_thousand                   54.745064
new_tests_smoothed                       47.505455
new_tests_smoothed_per_thousand          47.505455
positive_rate                            50.486471
tests_per_case                           51.117881
tests_units                              45.781990
total_vaccinations                       85.118113
people_vaccinated                        85.966669
people_fully_vaccinated                  88.885492
new_vaccinations                         87.563642
new_vaccinations_smoothed                74.349352
total_vaccinations_per_hundred           85.118113
people_vaccinated_per_hundred            85.966669
people_fully_vaccinated_per_hundred      88.885492
new_vaccinations_smoothed_per_million    74.349352
stringency_index                         15.711470
population                                0.657763
population_density                        7.027734
median_age                               10.392444
aged_65_older                            11.402279
aged_70_older                            10.888929
gdp_per_capita                           10.090969
extreme_poverty                          39.231767
cardiovasc_death_rate                     9.979234
diabetes_prevalence                       7.802502
female_smokers                           29.542412
male_smokers                             30.574383
handwashing_facilities                   54.775633
hospital_beds_per_thousand               17.943015
life_expectancy                           5.043904
human_development_index                   9.806360
excess_mortality                         96.475065
dtype: float64

In [7]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [8]:
# check null values in perticular column

df['hospital_beds_per_thousand']

0        0.5
1        0.5
2        0.5
3        0.5
4        0.5
        ...
94862    1.7
94863    1.7
94864    1.7
94865    1.7
94866    1.7
Name: hospital_beds_per_thousand, Length: 94867, dtype: float64

In [9]:
# check null values in perticular column

df['new_deaths']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
94862    1.0
94863    5.0
94864    6.0
94865    5.0
94866    4.0
Name: new_deaths, Length: 94867, dtype: float64

In [10]:
# statistical analysis

df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
count,9.176000e+04,91757.000000,90747.000000,8.178100e+04,81937.000000,90747.000000,91270.000000,91267.000000,90262.000000,81304.000000,...,57649.000000,85400.000000,87465.000000,66841.000000,65862.000000,42903.000000,77845.000000,90082.000000,85564.000000,3344.000000
mean,9.823545e+05,6059.404253,6086.950436,2.703805e+04,147.089288,131.678010,12072.139046,76.113344,76.455795,270.626884,...,13.385674,258.243476,7.905245,10.554517,32.681430,50.858772,3.028727,73.232545,0.727605,18.177156
std,6.765660e+06,38082.374634,37832.857208,1.610378e+05,804.364326,743.874762,22560.724598,197.913138,158.790650,494.627398,...,19.953595,118.939421,4.113085,10.446290,13.478396,31.760492,2.460161,7.561854,0.150391,36.279736
min,1.000000e+00,-74347.000000,-6223.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2153.437000,-276.825000,0.001000,...,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-95.590000
25%,1.148000e+03,2.000000,7.286000,5.100000e+01,0.000000,0.000000,240.442500,0.207000,1.256000,7.731000,...,0.600000,167.295000,5.310000,1.900000,21.600000,20.105000,1.300000,67.920000,0.602000,0.107500
50%,1.257150e+04,72.000000,90.143000,3.520000e+02,2.000000,1.286000,1627.008000,8.105000,10.733000,48.026000,...,2.200000,242.648000,7.110000,6.300000,31.400000,49.839000,2.400000,74.620000,0.748000,7.320000
75%,1.323872e+05,797.000000,835.714000,3.454000e+03,18.000000,14.286000,12272.323500,70.679500,79.294250,292.278000,...,21.200000,329.635000,10.080000,19.300000,41.100000,83.241000,3.861000,78.740000,0.848000,23.690000
max,1.748673e+08,906008.000000,826389.571000,3.773339e+06,18051.000000,14741.143000,178670.808000,18293.675000,4083.500000,5697.194000,...,77.600000,724.417000,30.530000,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,409.620000

In [11]:
# for new_deaths                            statistical analysis for outlier detection

min      25       50      75      100

-1918    0        2       18     18051

SyntaxError: invalid syntax (898674043.py, line 3)

In [12]:
import seaborn as sns

In [13]:
df['new_deaths']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
94862    1.0
94863    5.0
94864    6.0
94865    5.0
94866    4.0
Name: new_deaths, Length: 94867, dtype: float64

In [14]:
# fill null value by '0' with new column 'new_deaths_0'

df['new_deaths_0'] = df['new_deaths'].fillna(0)

In [15]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,new_deaths_0
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,1.0
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,5.0
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,6.0
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,5.0
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,4.0

In [16]:
# check null values
df.isnull().sum()

iso_code                          0
continent                      4480
location                          0
date                              0
total_cases                    3107
                              ...
hospital_beds_per_thousand    17022
life_expectancy                4785
human_development_index        9303
excess_mortality              91523
new_deaths_0                      0
Length: 61, dtype: int64

In [17]:
# mean()

# fill null value by 'mean value of new_deaths' with new column 'new_deaths_mean' at last

df['new_deaths_mean'] = df['new_deaths'].fillna(df['new_deaths'].mean())

In [18]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,new_deaths_0,new_deaths_mean
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,1.0,1.000000
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,5.0,5.000000
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,6.0,6.000000
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,5.0,5.000000
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,4.0,4.000000

In [19]:
# median()

# fill null value by 'median value of new_deaths' with new column 'new_deaths_median' at last

df['new_deaths_median'] = df['new_deaths'].fillna(df['new_deaths'].median())

In [20]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,new_deaths_0,new_deaths_mean,new_deaths_median
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288,2.0
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288,2.0
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288,2.0
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288,2.0
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,0.0,147.089288,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,1.0,1.000000,1.0
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,5.0,5.000000,5.0
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,6.0,6.000000,6.0
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,5.0,5.000000,5.0
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,4.0,4.000000,4.0

In [21]:
df['continent'].mode()      # continent column is categorical value thats why use mode()

0    Africa
Name: continent, dtype: object

In [22]:
# mode()

# fill null value by 'mode value of continent' with new column 'continent_mode' at last

df['continent_mode'] = df['continent'].fillna(df['continent'].mode()[0])

In [23]:
df.isnull().sum()

iso_code                 0
continent             4480
location                 0
date                     0
total_cases           3107
                     ...
excess_mortality     91523
new_deaths_0             0
new_deaths_mean          0
new_deaths_median        0
continent_mode           0
Length: 64, dtype: int64