## Data Balancing :- 

                            1. OverSampling (Upsampling)
                            2. UnderSampling (DownSampling)
                            
### 1. OverSampling(UpSampling)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Roshan B\Desktop\ML\Dataset\creditcard.csv")

In [3]:
df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [5]:
x = df.drop('Class',axis=1)     # independent feature

In [6]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,1.475829,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.059616,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.001396,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.127434,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.382948,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00

In [7]:
y = df['Class']             # dependent feature

In [8]:
y

0         0
1         0
2         0
3         0
4         0
         ..
284802    0
284803    0
284804    0
284805    0
284806    0
Name: Class, Length: 284807, dtype: int64

In [9]:
from imblearn.over_sampling import RandomOverSampler

In [10]:
obj = RandomOverSampler(sampling_strategy=0.70)

In [11]:
obj

RandomOverSampler(sampling_strategy=0.7)

In [12]:
x_oversample,y_oversample = obj.fit_resample(x,y)

In [13]:
x_oversample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483330,30852.0,-2.830984,0.885657,1.199930,2.861292,0.321669,0.289966,1.767760,-2.451050,0.069736,...,-1.016923,0.546589,0.334971,0.172106,0.623590,-0.527114,-0.079215,-2.532445,0.311177,104.81
483331,133731.0,1.176633,3.141918,-6.140445,5.521821,1.768515,-1.727186,-0.932429,0.292797,-3.156827,...,0.329568,0.129372,-0.803021,-0.074098,-0.031084,0.375366,0.065897,0.488258,0.325872,0.00
483332,102480.0,-1.929597,4.066413,-4.865184,5.898602,-0.552493,-1.555962,-3.833623,0.679512,-3.463765,...,0.942489,1.137212,0.674245,-0.531765,-0.433409,0.378659,0.198107,0.869694,0.228048,0.00
483333,42985.0,-4.075975,0.963031,-5.076070,4.955963,-0.161437,-2.832663,-7.619765,1.618895,-2.992092,...,0.058861,1.030738,0.165328,-1.017502,-0.477983,-0.304987,-0.106089,1.899714,0.511462,1.00
483334,153761.0,1.146259,1.403458,-4.159148,2.660107,-0.323217,-1.836071,-1.623740,0.259562,-1.132044,...,0.284831,0.564450,0.445744,-0.141136,-0.265517,0.362260,-0.416062,0.507370,0.243744,51.37

In [14]:
y_oversample

0         0
1         0
2         0
3         0
4         0
         ..
483330    1
483331    1
483332    1
483333    1
483334    1
Name: Class, Length: 483335, dtype: int64

In [15]:
y_oversample.value_counts()

0    284315
1    199020
Name: Class, dtype: int64

## 2. UnderSampling (DownSampling)

In [16]:
from imblearn.under_sampling import NearMiss

In [17]:
obj = NearMiss(sampling_strategy=0.70)

In [18]:
x_undersample,y_undersample = obj.fit_resample(x,y)

In [19]:
x_undersample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,76866.0,1.257227,0.408096,0.319266,0.685011,-0.302937,-1.052552,0.136991,-0.245655,-0.079491,...,-0.033053,-0.279430,-0.770134,0.119789,0.360130,0.241921,0.092261,-0.018228,0.032361,1.78
1,76868.0,1.254775,0.375340,0.311959,0.691077,-0.343494,-1.065252,0.110222,-0.222721,-0.017278,...,-0.057911,-0.283275,-0.803506,0.124643,0.354395,0.226835,0.093208,-0.021100,0.031686,2.69
2,76870.0,-1.050697,1.500753,0.846326,-0.282956,0.059866,-0.561182,0.484517,0.181547,0.081544,...,0.457988,-0.335560,-0.780232,-0.027029,-0.090180,-0.022896,0.091830,0.547241,0.278780,1.29
3,76866.0,1.245537,0.419648,0.312943,1.111459,-0.205612,-0.950912,0.267398,-0.274685,-0.127708,...,-0.098066,0.035687,0.186705,-0.107300,0.417887,0.712330,-0.330843,0.018576,0.021871,3.99
4,76870.0,1.261137,0.304662,0.527018,0.612765,-0.411488,-0.972770,0.112838,-0.248052,-0.068454,...,-0.044989,-0.249081,-0.683649,0.126936,0.395307,0.243448,0.092344,-0.024149,0.020589,1.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
1190,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
1191,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
1192,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
1193,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [20]:
y_undersample

0       0
1       0
2       0
3       0
4       0
       ..
1189    1
1190    1
1191    1
1192    1
1193    1
Name: Class, Length: 1194, dtype: int64

In [21]:
y_undersample.value_counts()

0    702
1    492
Name: Class, dtype: int64

## Feature Scaling

### Advantages of Scaling:-

1. Minimize of training time
2. Accuracy Impacted (only in mathematical calculations) otherwise no impacted

### Two Techniques to Scaling

1. MinMax Scaling
2. Standardization

### 1. MinMax Scaling

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Roshan B\Desktop\ML\Dataset\bengaluru_house_prices.csv")

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [5]:
df.isnull().sum()           # check null values

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
df.dropna(inplace = True)     # drop null values

In [7]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
...,...,...,...,...,...,...,...,...,...
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345,2.0,1.0,57.00
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [9]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [52]:
x = df[['total_sqft', 'bath', 'balcony', 'price']]       # takes columns which have numercial values

In [53]:
x

      total_sqft  bath  balcony   price
0           1056   2.0      1.0   39.07
1           2600   5.0      3.0  120.00
3           1521   3.0      1.0   95.00
5           1170   2.0      1.0   38.00
11          2785   5.0      3.0  295.00
...          ...   ...      ...     ...
13313       1345   2.0      1.0   57.00
13314       1715   3.0      3.0  112.00
13315       3453   4.0      0.0  231.00
13317       1141   2.0      1.0   60.00
13318       4689   4.0      1.0  488.00

[7496 rows x 4 columns]

In [54]:
# now scale down

from sklearn.preprocessing import MinMaxScaler       # import MinMaxScaler

In [55]:
obj = MinMaxScaler()      # creating object

In [57]:
obj.fit_transform(x)

ValueError: could not convert string to float: '2100 - 2850'

In [ ]:
# Note:- ValueError: could not convert string to float: '2100 - 2850'

# now need to convert string to float,

# to check which column has string, so column 'total_sqft' has string objects

In [58]:
x.info()    # here 'total_sqft' column has in string(object) so its need to type convert into float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7496 entries, 0 to 13318
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_sqft  7496 non-null   object
 1   bath        7496 non-null   float64
 2   balcony     7496 non-null   float64
 3   price       7496 non-null   float64
dtypes: float64(3), object(1)
memory usage: 550.9+ KB

In [59]:
x['total_sqft'].to_list()    # check which value is in string

['1056',
 '2600',
 '1521',
 '1170',
 '2785',
 '1000',
 '2250',
 '1175',
 '1180',
 '1540',
 '2770',
 '1755',
 '2800',
 '510',
 '660',
 '1151',
 '1025',
 '2100 - 2850',
 '1075',
 '1760',
 '1693',
 '700',
 '1724',
 '1254',
 '600',
 '1330.74',
 '970',
 '1459',
 '1270',
 '1670',
 '2010',
 '1185',
 '1600',
 '1200',
 '1500',
 '845',
 '5700',
 '1160',
 '1140',
 '1358',
 '1569',
 '1240',
 '2089',
 '2511',
 '1660',
 '1326',
 '1499',
 '708',
 '1060',
 '1000',
 '1296',
 '2894',
 '2502',
 '650',
 '2400',
 '1007',
 '1200',
 '1640',
 '1260',
 '1413',
 '1116',
 '1530',
 '2497',
 '1540',
 '1427',
 '2061',
 '3067 - 8156',
 '1282',
 '1600',
 '1500',
 '1870',
 '1600',
 '880',
 '1535',
 '950',
 '1360',
 '1042 - 1105',
 '1260',
 '3050',
 '1563.05',
 '1167',
 '890',
 '1612',
 '1710',
 '957',
 '1125',
 '1020',
 '1735',
 '2050',
 '1063',
 '1904',
 '2000',
 '1145 - 1340',
 '1425',
 '1500',
 '1060',
 '1470',
 '450',
 '1152',
 '1350',
 '1550',
 '705',
 '770',
 '1242',
 '1700',
 '2144',
 '1704',
 '1070',
 '1025',
 '1015 - 1540',
 '1200',
 '1550',
 '1200',
 '1327',
 '1400',
 '1225',
 '1260',
 '1282',
 '1909',
 '1359',
 '1595',
 '1475',
 '1580',
 '1295',
 '589',
 '1787',
 '1787',
 '1475',
 '984',
 '2405',
 '1080',
 '1153',
 '1148',
 '1110',
 '1100',
 '1290',
 '1933',
 '645',
 '645',
 '1644',
 '1285',
 '910',
 '1577',
 '4050',
 '2420',
 '800',
 '1270',
 '1108',
 '3045',
 '2900',
 '1500',
 '1295',
 '1162',
 '1035',
 '1600',
 '1866',
 '700',
 '1804',
 '1868',
 '2026',
 '1210',
 '4111',
 '1762',
 '1252',
 '861',
 '1420',
 '1490',
 '1425',
 '1200',
 '1084',
 '1015',
 '1017',
 '1069',
 '1349',
 '1005',
 '1417',
 '950',
 '2000',
 '1863',
 '1010',
 '1425',
 '1450',
 '1847',
 '1100',
 '525',
 '1665',
 '1664',
 '1850',
 '1438',
 '1560',
 '1550',
 '1280',
 '1113',
 '1385',
 '1128',
 '2390',
 '1464',
 '1200',
 '1150',
 '1645',
 '1192',
 '2135',
 '1173',
 '1020',
 '3122',
 '1250',
 '1325',
 '1850',
 '1260',
 '1800',
 '11',
 '1100',
 '1508',
 '1592',
 '1388',
 '630',
 '3252',
 '1116',
 '1308',
 '1075',
 '530',
 '1075',
 '930',
 '1380',
 '2483',
 '1166',
 '1050',
 '2023.71',
 '1200',
 '1600',
 '1935',
 '451',
 '1800',
 '1400',
 '1801',
 '1160',
 '950',
 '1826',
 '1245',
 '1145',
 '825',
 '1693',
 '1113.27',
 '1460',
 '1050',
 '1260',
 '1656',
 '1208',
 '1910',
 '3252',
 '1175',
 '2390',
 '750',
 '1550',
 '1760',
 '1125',
 '1991',
 '1060',
 '1105',
 '985',
 '1590',
 '1120',
 '1069',
 '1933',
 '1194',
 '1150',
 '1419',
 '1450',
 '1630',
 '708',
 '1250',
 '1400',
 '1750',
 '1404',
 '1715',
 '630',
 '1752.12',
 '1295',
 '1800',
 '1346',
 '1150',
 '3309',
 '1190',
 '1620',
 '5000',
 '2450',
 '1220',
 '850',
 '1150',
 '1760',
 '900',
 '1130',
 '1320',
 '1200',
 '929',
 '1150',
 '1200',
 '1130',
 '1753',
 '4500',
 '1196',
 '1150',
 '1128',
 '1000',
 '1035',
 '1075',
 '1040',
 '1511',
 '1545',
 '1000',
 '883',
 '1195',
 '1246',
 '2805',
 '1353',
 '1599',
 '1150',
 '5230',
 '1155',
 '1867',
 '1251',
 '1028',
 '1222',
 '1170',
 '2400',
 '1372',
 '1282',
 '5000',
 '1135',
 '1325',
 '1599',
 '1195 - 1440',
 '3450',
 '1102',
 '1350',
 '525',
 '656',
 '1056',
 '595',
 '2225',
 '1126',
 '1490',
 '1550',
 '4144',
 '2100',
 '1404',
 '2230',
 '1305',
 '1230',
 '715',
 '2500',
 '1578',
 '1020',
 '1253',
 '1180',
 '961',
 '1709',
 '1260',
 '1630',
 '1249',
 '1450',
 '2791',
 '834',
 '891',
 '1133',
 '1075',
 '1090',
 '1920',
 '1374',
 '711',
 '1500',
 '1720',
 '1200',
 '1375',
 '2250',
 '1000',
 '469',
 '3800',
 '883',
 '1820',
 '2500',
 '750',
 '2378',
 '1128',
 '1500',
 '1100',
 '1200',
 '1641',
 '1260',
 '1120 - 1145',
 '1210',
 '1075',
 '1702',
 '1630',
 '1141',
 '3090 - 5002',
 '35000',
 '1875',
 '1200',
 '1140',
 '1683',
 '2118',
 '2300',
 '1240',
 '1750',
 '985',
 '1500',
 '950',
 '1090',
 '810',
 '1045',
 '1337',
 '1580',
 '1500',
 '1640',
 '1570',
 '1470',
 '1050',
 '1855',
 '1460',
 '1094',
 '1153',
 '1325',
 '1590',
 '1202',
 '1200',
 '1688',
 '1020',
 '1185',
 '1235',
 '3205',
 '1415',
 '2330',
 '805',
 '1155',
 '1100',
 '1468',
 '4300',
 '2280',
 '1341',
 '2225',
 '1185',
 '1750',
 '1152',
 '1300',
 '1101',
 '667',
 '1070',
 '1875',
 '735',
 '1215',
 '820',
 '1160 - 1195',
 '1779',
 '1105',
 '1650',
 '1694',
 '2376',
 '674',
 '1185',
 '445',
 '1618',
 '1120',
 '2181',
 '1556',
 '1179',
 '1296',
 '1275',
 '1222',
 '940',
 '1185',
 '1779',
 '1615',
 '1056',
 '920',
 '1602',
 '1717',
 '2119',
 '1246',
 '1141',
 '1025',
 '650',
 '1349',
 '1566',
 '2830',
 '1091',
 '3670',
 '1950',
 '1705',
 '1375',
 '525',
 '1114',
 '1450',
 '1000',
 '1128',
 '1180',
 '1339',
 '1040',
 '1691',
 '1075',
 '1115 - 1130',
 '1665',
 '1142',
 '1976',
 '1175',
 '1200',
 '995',
 '884',
 '1170',
 '1225',
 '1342',
 '1320',
 '1140',
 '1300',
 '2072',
 '1360',
 '1145',
 '1540',
 '1278',
 '630',
 '1100',
 '1200',
 '520 - 645',
 '1015',
 '1180',
 '1116',
 '1070',
 '1385',
 '1005',
 '1575',
 '975',
 '1904',
 '525',
 '2400',
 '1174',
 '2225',
 '1250',
 '918',
 '1170',
 '1710',
 '1082',
 '1554',
 '1000 - 1285',
 '1045',
 '1935',
 '1680',
 '2470',
 '2825',
 '2480',
 '1799',
 '400',
 '1047',
 '1282',
 '1495',
 '3260',
 '3500',
 '1500',
 '1540',
 '1639',
 '1303',
 '1005',
 '650 - 665',
 '1305',
 '1440',
 '1725',
 '1535',
 '1464',
 '1350',
 '650',
 '950',
 '1190',
 '1891',
 '1161',
 '633 - 666',
 '665',
 '1425',
 '1255',
 '2112.95',
 '1810',
 '1400',
 '1485',
 '1025',
 '2268',
 '1100',
 '1141',
 '400',
 '1843',
 '1530',
 '1246',
 '711',
 '1194',
 '1358',
 '1420',
 '1209',
 '1315',
 '1600',
 '1563',
 '1560',
 '3235',
 '1140',
 '1100',
 '1036',
 '1662',
 '1464',
 '1234',
 '1403',
 '3900',
 '1405',
 '2805',
 '1161',
 '1290',
 '2557',
 '1480',
 '1350',
 '1580',
 '1346',
 '1200',
 '1340',
 '918',
 '1500',
 '1315',
 '1330',
 '1824',
 '1420',
 '1260',
 '1561',
 '1225',
 '2144',
 '880',
 '1639',
 '1240',
 '1243',
 '1082',
 '1665',
 '1265',
 '1691',
 '1100',
 '3205',
 '1115',
 '1070',
 '1128',
 '1162',
 '1339',
 '1192',
 '1920',
 '1255',
 '1357',
 '1225',
 '2400',
 '1093',
 '1865',
 '1039',
 '1246',
 '1985',
 '1590',
 '4000',
 '775',
 '1000',
 '1800',
 '1035',
 '1520',
 '1360',
 '6000',
 '1117',
 '1200',
 '1330',
 '1937',
 '1128',
 '1053',
 '1198',
 '1152',
 '1625',
 '1397',
 '1523',
 '883',
 '700',
 '1170',
 '1200',
 '1897',
 '1875',
 '3095',
 '1390',
 '1445 - 1455',
 '697',
 '710',
 '910',
 '1025',
 '884 - 1116',
 '3335',
 '850 - 1093',
 '1024',
 '1620',
 '1254',
 '1300',
 '1510',
 '950',
 '1945',
 '1008',
 '1265',
 '1255',
 '2689',
 '1403',
 '1535',
 '1475',
 '1133',
 '1697',
 '1560',
 '1192',
 '1349',
 '1680',
 '820',
 '5000',
 '856',
 '1621',
 '1484',
 '14000',
 '500',
 '550',
 '1384',
 '1150',
 '2150',
 '1508',
 '1040',
 '1240',
 '1535',
 '1180',
 '1400',
 '4800',
 '1984',
 '3000',
 '1960',
 '1035',
 '1700',
 '3024',
 '1586',
 '2325',
 '1120',
 '1128',
 '924',
 '1600',
 '1200',
 '957',
 '1140',
 '1050',
 '1190',
 '1558.67',
 '1403',
 '1542',
 '2750',
 '3596',
 '1596',
 '1009',
 '1726',
 '1535',
 '3100',
 '665',
 '925',
 '1395',
 '1415',
 '1419',
 '1121',
 '1100',
 '1606',
 '4634',
 '1206',
 '1495',
 '710',
 '1523',
 '1232',
 '680',
 '1355',
 '1430',
 '1070',
 '1610',
 '1140',
 '1143',
 '3467.86',
 '1530',
 '980',
 '1485',
 '1500',
 '1280',
 '1265',
 '1262',
 '940',
 '1300',
 '890',
 '2060',
 '1730',
 '2195',
 '1085',
 '1639',
 '1739',
 '935',
 '510',
 '1178',
 '1375',
 '1065',
 '1835',
 '2090',
 '1519',
 '1267',
 '1150',
 '1146',
 '1550',
 '850',
 '1610',
 '921',
 '1700',
 '1020',
 '1090',
 '1185',
 '850',
 '1197',
 '3500',
 '1105',
 '1850',
 '1300',
 '3073',
 '900',
 '1654',
 '1367',
 '1010',
 '1535',
 '1330',
 '2500',
 '1410',
 '1614',
 '1363',
 '930',
 '1890',
 '2197',
 '3522',
 '1440',
 '764',
 '1693',
 '1445',
 '900',
 '1381',
 '1100',
 '1200',
 '1080',
 '1865',
 '1157',
 '674',
 '1405',
 '1160',
 '1790',
 '1128',
 '1180',
 '1125',
 '1246',
 '1372',
 '1330',
 '2465',
 '1065',
 '547.34 - 827.31',
 '1050',
 '865',
 '1756',
 '628',
 '1765',
 '1532',
 '1650',
 '804.1',
 '1200',
 '1385',
 '1010',
 '2225',
 '1180',
 '400',
 '1200',
 '1272',
 '1205',
 '980',
 '1610',
 '1694',
 '950',
 '1560',
 '910',
 '1291',
 '1012',
 '1282',
 '1843',
 '3356',
 '2790',
 '1330',
 '1400',
 '1297',
 '580 - 650',
 '1490',
 '1373',
 '1750',
 '1052',
 '1128',
 '1120',
 '1090',
 '1330',
 '1427',
 '1580',
 '1808',
 '3516',
 '1194',
 '900',
 '900',
 '1390',
 '845',
 '1537',
 '1512',
 '1230',
 '1378',
 '1277',
 '1985',
 '1210',
 '3198',
 '2483',
 '4111',
 '975',
 '1690',
 '1063',
 '1600',
 '520',
 '1390',
 '1185',
 '1219',
 '1564',
 '3425 - 3435',
 '1100',
 '1300',
 '1482',
 '1000',
 '1469',
 '1205',
 '1745',
 '1028',
 '1700',
 '1200',
 '2700',
 '1100',
 '1269.72',
 '1266',
 '1060',
 '1168',
 '1552',
 '1804 - 2273',
 '500',
 '1300',
 '920',
 '1310',
 '1515',
 '1157',
 '3000',
 '1530',
 '2070',
 '1815',
 '3900',
 '1000',
 '1232',
 '1282',
 '654',
 '1075',
 '1616',
 '1306',
 '1626',
 '1585',
 '1495',
 '3630 - 3800',
 '1645',
 '1760',
 '595',
 '1200',
 '4000 - 5249',
 '1410',
 '1300',
 '1890',
 '1254',
 '1170',
 '1193',
 '1678',
 '1600',
 '1750',
 '1500Sq. Meter',
 '2800',
 '1000',
 '1320',
 '2422',
 '1100',
 '882',
 '845',
 '883',
 '1595',
 '1280',
 '920',
 '1300',
 '1450',
 '1757',
 '1330',
 '1062',
 '1078',
 '1460',
 ...]

In [60]:
def process(r):                                         # make a function to get numeric value by split
    if '-' in r:
        result = (float(r.split('-')[0]) + float(r.split('-')[1]))/2
        return result
    else:
        return r

In [61]:
x['new_total_sqft'] = x['total_sqft'].apply(process)

C:\Users\Roshan B\AppData\Local\Temp\ipykernel_15256\790098182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['new_total_sqft'] = x['total_sqft'].apply(process)

In [62]:
import re               # import regular expression to fetch numeric value

In [63]:
def fetch_number(r):             # make a function to fetch numeric value
    result = re.findall(r'\d+',str(r))
    return result[0]

In [64]:
x['new_total_sqft'] = x['new_total_sqft'].apply(fetch_number)

C:\Users\Roshan B\AppData\Local\Temp\ipykernel_15256\442678825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['new_total_sqft'] = x['new_total_sqft'].apply(fetch_number)

In [65]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7496 entries, 0 to 13318
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_sqft      7496 non-null   object
 1   bath            7496 non-null   float64
 2   balcony         7496 non-null   float64
 3   price           7496 non-null   float64
 4   new_total_sqft  7496 non-null   object
dtypes: float64(3), object(2)
memory usage: 609.4+ KB

In [66]:
x['new_total_sqft'] = x['new_total_sqft'].astype('float')     # after fetching numeric value convert type object into float

C:\Users\Roshan B\AppData\Local\Temp\ipykernel_15256\1931731119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['new_total_sqft'] = x['new_total_sqft'].astype('float')     # after fetching numeric value convert type object into float

In [67]:
x.info()   # check type

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7496 entries, 0 to 13318
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_sqft      7496 non-null   object
 1   bath            7496 non-null   float64
 2   balcony         7496 non-null   float64
 3   price           7496 non-null   float64
 4   new_total_sqft  7496 non-null   float64
dtypes: float64(4), object(1)
memory usage: 609.4+ KB

In [73]:
x.drop('total_sqft',axis = 1, inplace = True)    # now drop old column 'total_sqft' which have string object

C:\Users\Roshan B\AppData\Local\Temp\ipykernel_15256\3405115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop('total_sqft',axis = 1, inplace = True)

In [74]:
x

       bath  balcony   price  new_total_sqft
0       2.0      1.0   39.07          1056.0
1       5.0      3.0  120.00          2600.0
3       3.0      1.0   95.00          1521.0
5       2.0      1.0   38.00          1170.0
11      5.0      3.0  295.00          2785.0
...     ...      ...     ...             ...
13313   2.0      1.0   57.00          1345.0
13314   3.0      3.0  112.00          1715.0
13315   4.0      0.0  231.00          3453.0
13317   2.0      1.0   60.00          1141.0
13318   4.0      1.0  488.00          4689.0

[7496 rows x 4 columns]

In [75]:
# now use scale down
from sklearn.preprocessing import MinMaxScaler         # for MinMax Scaler

In [76]:
obj = MinMaxScaler()

In [77]:
obj.fit_transform(x)

array([[0.125     , 0.33333333, 0.0115416 , 0.02903665],
       [0.5       , 1.        , 0.04160475, 0.07193865],
       [0.25      , 0.33333333, 0.03231798, 0.04195726],
       ...,
       [0.375     , 0.        , 0.08283804, 0.09564033],
       [0.125     , 0.33333333, 0.01931649, 0.03139848],
       [0.375     , 0.33333333, 0.17830609, 0.12998416]])

### 2. Standardization

In [78]:
from sklearn.preprocessing import StandardScaler      # for Standard Scaler

In [80]:
obj1 = StandardScaler()                               # create object

In [81]:
obj1.fit_transform(x)

array([[-0.52025189, -0.80753266, -0.54839259, -0.48041315],
       [ 2.88470288,  1.75632369,  0.21962303,  1.16954849],
       [ 0.61473303, -0.80753266, -0.01762385,  0.01649887],
       ...,
       [ 1.74971795, -2.08946084,  1.27299921,  2.08108817],
       [-0.52025189, -0.80753266, -0.3497695 , -0.38957977],
       [ 1.74971795, -0.80753266,  3.71189721,  3.40191239]])